# Entornos virtuales (Esto es lo que más pesa y no se debe subir)
venv/
.venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración y secretos (¡NUNCA subas tu .env!)
.env

# Datos y Memoria local
memory.json
*.log
heartbeat_log.txt
logs.txt

# Compilación (PyInstaller)
build/
dist/
*.spec

# SO
.DS_Store